<div class="flex items-center justify-center">
  <img class="size-32 max-md:size-20" src="assets/images/brain.png" alt="Pixel Brain"/>
</div>
<h1 class="text-[64px] max-md:text-[48px] text-center font-black leading-[64px]">Pixel Brain</h1>
<div>
  <div class="text-center text-lg text-gray-400 whitespace-pre-line whitespace-pre-spaces max-w-[860px] font-semibold leading-[32px]">
    <p>Willkommen bei Pixelbrain! 🎮🧠</p>
    <br>
    <p>Teste dein Gaming-Wissen mit spannenden Quizfragen zu deinen Lieblingsspielen! Fordere dich selbst heraus oder vergleiche dich mit deinen Freunden. Bist du der ultimative Gaming-Experte?</p>
  </div>
</div>
