<div class="flex items-center justify-center ">
  <img class="size-32 font-black" src="assets/images/brain.png"/>
</div>
<h1 class="text-[64px] font-bold flex justify-center leading-[64px]">Pixel Brain</h1>
<div>
  <div class="text-center h text-lg text-gray-400 whitespace-pre-line whitespace-pre-spaces"> <p>Willkommen bei Pixelbrain! 🎮🧠</p>
    <br>
    <p>Teste dein Gaming-Wissen mit spannenden Quizfragen zu deinen Lieblingsspielen! Fordere dich</p>
    <p>selbst heraus oder vergleiche dich mit deinen Freunden. Bist du der ultimative Gaming-Experte?</p>
  </div>
</div>
