<div class="flex items-center justify-center ">
  <img class="size-32 max-md:size-20 font-black" src="assets/images/brain.png"/>
</div>
<h1 class="text-[64px] max-md:text-[48px] font-black flex justify-center leading-[64px]">Pixel Brain</h1>
<div>
  <div class="text-center h text-lg text-gray-400 whitespace-pre-line whitespace-pre-spaces max-w-[860px] font-semibold leading-[32px]">
    <p>Willkommen bei Pixelbrain! 🎮🧠</p>
    <br>
    <div>Teste dein Gaming-Wissen mit spannenden Quizfragen zu deinen Lieblingsspielen! Fordere dich selbst heraus oder vergleiche dich mit deinen Freunden. Bist du der ultimative Gaming-Experte?</div>
  </div>
</div>
